<div class="col-md-4">
  <h3>
    <%#= pluralize(@comments.points, 'point') %>
    <div>
      <small>
        <%#= pluralize(@post.comments.up_votes, 'up vote') %>,
        <%#= pluralize(@post.comments.down_votes, 'down vote') %>
      </small>
    </div>
  </h3>
</div>
