<div class="row">
  <div class="col-sm-8 col-sm-push-2">
    <h3 class="lead">EigoPostは、英語の上達には二つの必要不可欠なステップがあると確信します。それは、勉強（予習）すること、そして練習（実践）することです。</h3>
    <ul class="color-red">
      <h4>日本では、英語を流暢に話せるようになるのは多くの場合、困難です。</h4>
      <li>学習した英語を実生活で使わないため、学んだ内容を覚えられない、</li>
      <li>実用的でない英語を勉強しがちである</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="lead">EigoPostは、英語の上達には二つの必要不可欠なステップがあると確信します。それは、勉強（予習）すること、そして練習（実践）することです。</h3>
    <ul class="color-grey">
      <h4>日本では、英語を流暢に話せるようになるのは多くの場合、困難です。</h4>
      <li>学習した英語を実生活で使わないため、学んだ内容を覚えられない、</li>
      <li>実用的でない英語を勉強しがちである</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h3 class="lead">EigoPostは、英語の上達には二つの必要不可欠なステップがあると確信します。それは、勉強（予習）すること、そして練習（実践）することです。</h3>
    <ul class="color-blue">
      <h4>日本では、英語を流暢に話せるようになるのは多くの場合、困難です。</h4>
      <li>学習した英語を実生活で使わないため、学んだ内容を覚えられない、</li>
      <li>実用的でない英語を勉強しがちである</li>
    </ul>
  </div>
</div>
