<div class="jumbotron">
  <h1>EigoPost</h1>
  <p>Eigo Benkyou</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2><a>1</a></h2>
    <p><a>one</a></p>
  </div>
  <div class="col-md-4">
    <h2><a>2</a></h2>
    <p><a>two</a></p>
  </div>
  <div class="col-md-4">
    <h2><a>3</a></h2>
    <p><a>three</a></p>
  </div>
</div>
