<div class="jumbotron">
  <h1>EigoPost</h1>
  <p class="lead"> イングリッシュポストは、
ウェブサイト上で英語を学び、
英語スキルを
上達させるためのサイトです
</p>
</div>

<div class="row">
  <div class="col-md-4">
    <p class="lead"><a> メインページでは、
ユーザーが書いた
ニュースや意見記事などを、
投稿することができます。
</a></p>
  </div>
  <div class="col-md-4">
    <p class="lead"><a>他のユーザーは、
掲載された記事に対して
コメントすることができます。
</a></p>
  </div>
  <div class="col-md-4">
    <p class="lead"><a>プルーフリーディング イングリッシュ オンライン</a></p>
  </div>
</div>
