<div class="jumbotron">
  <h1 class="color-red">EigoPost</h1>
  <p class="lead"> イングリッシュポストは、
    ウェブサイト上で英語を学び、英語スキルを  上達させるためのサイトです
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p class="lead color-grey"> メインページでは、
        ユーザーが書いた ニュースや意見記事などを、 投稿することができます。
      </p>
    </div>
    <div class="col-md-4">
      <p class="lead color-grey">他のユーザーは、掲載された記事に対して コメントすることができます。
      </p>
    </div>
    <div class="col-md-4">
      <p class="lead color-grey">プルーフリーディング イングリッシュ オンライン</p>
    </div>
  </div>
</div>
