<div class="jumbotron">
  <h1>EigoPost</h1>
  <p>Eigo Benkyou</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>1</h2>
    <p>one</p>
  </div>
  <div class="col-md-4">
    <h2>2</h2>
    <p>two</p>
  </div>
  <div class="col-md-4">
    <h2>3</h2>
    <p>three</p>
  </div>
</div>
