<div class="container-fluid">
  <div class="row">
      <div class="jumbotron">
        <h1 class="color-1a padding-lr-15p">EigoPost</h1>
        <p class="lead color-2a padding-lr-5p"> イングリッシュポストは、
          ウェブサイト上で英語を学び、英語スキルを  上達させるためのサイトです
        </p>
        <%= link_to "Ganbarimashou!", posts_path, class: "lead color-1a margin-l-30 h5" %>
      </div>
  </div>
</div>

<div class="container padding-tb-30-15">
  <div class="row">
    <div class="col-sm-4">
      <p class="lead color-2a"> メインページでは、
        ユーザーが書いた ニュースや意見記事などを、 投稿することができます。
      </p>
    </div>
    <div class="col-sm-4">
      <p class="lead color-1a">他のユーザーは、掲載された記事に対して コメントすることができます。
      </p>
    </div>
    <div class="col-sm-4">
      <p class="lead color-2a">プルーフリーディング イングリッシュ オンライン</p>
    </div>
  </div>
</div>
