$primary-red: #e84040 !default;
$secondary-red: #ea5252 !default;
$primary-blue: #6699ee !default;
$secondary-blue: #cceeff !default;
$primary-grey: #777777 !default;
$secondary-grey: #444444 !default;
$primary-white: #ffffff !default;
$secondary-white: #fff7f7  !default;
