$base-1a: #e60000 !default;
$base-1b: #ff4d4d !default;
$base-2a: #555555 !default;
$base-2b: #999999 !default;
$base-3a: #3385ff !default;
$base-3b: #4d94ff !default;
$base-4a: #ffffff !default;
$base-4b: #fff7f7 !default;
