@import "bootstrap-sprockets";
@import "bootstrap";

a {color:#666666}
a:hover{color:#777777; text-decoration: none}
.nav-tabs > li > a{color:#ba5353}
.nav-tabs > li > a:hover{color:#c66}
.current-user{color:#c66; margin-top:11px}
.btn-success{background-color: #c66; border-color:#c66}
.btn-success:hover{background-color:#ba5353; border-color:#c66}
.nodec{list-style-type: none}
.red{color:#c66}
.font-fourteen{font-size:14px}
textarea#comment_body.form-control {background-color:#fceded}
input#post_public{margin-left:95px;}
.alert-success{background-color:#fceded}
.vote-arrows{width:40px; text-align: center;}
