@import "bootstrap-sprockets";
@import "bootstrap";

html{}
h1{}
.blue{margin-top: 11px;color:purple}
h4, h4.b a{margin:3px 0 0 0; padding:0;}
small{margin-bottom:13px}
p.c {font-size:16px;color:#555555;}
p.lead{margin:0}
.pp{list-style-type: none;}
a {color:#c66}
a:hover{color:#ba5353; text-decoration: none}
.btn-success{background-color: #c66}
